html, body, main {
	height: 100%;
}

body {
	@extend .container-fluid;
}

main {
	@include make-row();
}

a:hover {
	text-decoration: none;
}

.content {
	@include make-md-column-offset(3);
	@include make-md-column(9);

	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

section {
	background-color: $section-bg;
	margin-top: 30px;
	overflow: hidden;
	padding: 30px;
	min-height: inherit !important;

	h1, h2, h3, h4, h5, h6 {
		margin-top: -5px;
	}
}

.lead-heading {
	border-bottom: 1px solid #EEE;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

ul.sub-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.post {
    margin-bottom: 15px;
    padding-bottom: 5px;
}
