body {
	color: #FFF;
	font-family: 'Exo 2', sans-serif;
	font-size: 15pt;
	font-weight: 300 !important;
	line-height: 1.75em;
	background-color: #348cb2;
	padding: 0;
	margin: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%; /* for all other browsers */
}

#main {
	padding-bottom: 3em;
}

/* header */
header {
	cursor: default;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

header h1 {
	margin-top: 0.35em;
	font-size: 4.5em;
	font-weight: 900;
	letter-spacing: -.035em;
	margin-bottom: 0;
	opacity: 0; /* disable on noscript */
}

header nav {
	font-size: 1.25em;
	opacity: 0; /* disable on noscript */
}

@media only screen and (max-width: 480px) {
	header h1 {
		font-size: 2.5em; /* 4.5 / 1.8 */
		letter-spacing: -.035em;
	}
}

@media only screen and (max-width: 480px) {
	header nav {
		font-size: 0.694444444em;
		letter-spacing: -.035em;
	}
}

header ul {
	padding-left: 0;
}

header ul li {
	display: inline;
}

header ul li.current {
	font-weight: 900;
}

header li+li::before {
	content: " • ";
	font-weight: normal;
}

/* end header */

/* article */
#about,#portfolio,#contact {
	display: none;
}

article {
	background-color: white;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin: auto;
	width: 85%;
	color: #6a707c;
	text-align: left;
	opacity: 0;
	overflow-x: hidden;
}

/* end article */

/* footer */
#footer {
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75) 100%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75) 100%);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75) 100%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75) 100%);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75) 100%);
	cursor: default;
	height: 3em;
	bottom: 0;
	line-height: 4em;
	position: fixed;
	text-align: center;
	font-size: 12pt;
	width: 100%;
	opacity: 0;
	clear: both;
}

.social {
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: none;
	transition: all 0.3s ease-in;
}

.social:hover {
	text-shadow: 0 0 10px #fff;
}

.copyright {
	float: left;
	padding-left: 10px;
}

/* end footer */

/* text formatting */
a {
	border-bottom: solid 1px;
	color: inherit;
	outline: 0;
	text-decoration: none;
	-moz-transition: border-color .2s ease-in-out;
	-webkit-transition: border-color .2s ease-in-out;
	-o-transition: border-color .2s ease-in-out;
	-ms-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
}

a:hover {
	border-color: transparent;
}

form {
	text-align: center;
}

article h2 {
	line-height: 1.5em;
	border-bottom: 1px solid #ccc;
}

dl {
	overflow: hidden;
}

dt {
	font-weight: 700;
}

dd.thumbnail {
	display: inline;
	margin: 0;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

abbr {
	cursor: help;
	border-bottom: 1px dotted;
	position: relative;
	-moz-transition: border-color .2s ease-in-out;
	-webkit-transition: border-color .2s ease-in-out;
	-o-transition: border-color .2s ease-in-out;
	-ms-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
}

abbr:hover {
	border-color: transparent;
}

input,textarea {
	font-family: 'Exo 2', sans-serif;
	color: #6a707c;
	padding: 5px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid 1px #348cb2;
	font-size: 15pt;
	font-weight: 300 !important;
	letter-spacing: -.025em;
	line-height: 1.75em;
	width: 80%;
	padding: 5px;
	transition: all 0.25s ease-in;
}

textarea:focus,input:focus {
	outline: 0;
	box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}

.button {
	display: inline-block;
	font-family: 'Exo 2', sans-serif;
	transition: background-color 0.5s ease;
	background-color: rgba(52, 140, 178, 0);
	height: 2.75em;
	line-height: 2.7em;
	padding: 0 5px 0 5px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 300 !important;
	color: #348cb2;
	border: solid 1px #348cb2;
	border-radius: 8px;
}

.button:hover {
	background-color: rgba(52, 140, 178, 0.25);
}

.button.form {
	width: 81.5%;
}

button.close {
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	outline: none !important;
	float: right;
	font-size: 25pt;
	font-weight: 700;
	line-height: 1;
	color: #6a707c;
	margin-right: 5px;
	transition: all 0.3s ease-in;
}

button.close:hover {
	text-shadow: 0 0 10px #6a707c !important;
}

.alert {
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
}

.error {
	background-color: #ffecec;
	border: 1px solid #f5aca6;
}

.success {
	background-color: #e9ffd9;
	border: 1px solid #a6ca8a;
}

.warning {
	background-color: #fff8c4;
	border: 1px solid #f2c779;
}

#juliaset {
	float: left;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 0;
}

img.left {
	float: left;
	padding: 5px;
	padding-right: 10px;
}

img.right {
	float: right;
	padding: 5px;
	padding-left: 10px;
}