article {
	opacity: 1 !important;
}

a {
	outline: 1 !important;
}

header h1 {
	opacity: 1 !important;
}

header nav {
	opacity: 1 !important;
}

#about,#portfolio,#contact {
	display: block;
	border-top: solid 1px;
}

nav {
	opacity: 0 !important;
}


#footer {
	opacity: 1 !important;
}