html {
    background-color: #fafafa;
}

body {
    font-family: 'Raleway', Arial;
    color: #555;
    font-size: 1em;
	margin: 0;
    line-height: 1.4;
}

a, a:visited {
    color: #2980b9;
}

a[href^="http://"]:after, a[href^="https://"]:after {
    content: url(https://en.wikipedia.org/w/skins/Vector/images/external-link-ltr-icon.png);
    margin: 0 0 0 1px;
}
